{% extends 'base_auth.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Reset password</h1>
            {{ form_start(form) }}
                {{ form_row(form.password) }}
                <button type="submit" class="btn btn-primary">Send</button>
            {{ form_end(form) }}
        </div>
    </div>
</section>

{% endblock %}