{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
        <h1 class="mt-4">Welcome</h1>
        <div class="card mb-4">
            <div class="card-body">
                <p class="mb-0">
                    This is a simple CMS to implement some basic Symfony features. <code>Don't use in production.</code>
                </p>
            </div>
        </div>
{% endblock %}
