parameters:
    level: 6
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: tests/phpstan/console-application.php
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:        
        - '#Parameter \#1 \$category of method App\\Entity\\Post::setCategory\(\) expects App\\Entity\\Category\|null, object given.#'
        - '#Method App\\Repository\\PostRepository::getLastPosts\(\) should return array<App\\Entity\\Post> but returns mixed.#'
        - "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ has parameter \\$[a-zA-Z0-9_]+ with no value type specified in iterable type array#"
        - "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ return type has no value type specified in iterable type array#"
        - "#Property [a-zA-Z0-9\\$\\_\\\\:\\(\\)]+ type has no value type specified in iterable type array#"