parameters:
    level: 6
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: tests/phpstan/console-application.php
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    paths:
        - src
    ignoreErrors:        
        - '#Parameter \#1 \$category of method App\\Entity\\Post::setCategory\(\) expects App\\Entity\\Category\|null, object given.#'
        - '#Method App\\Repository\\PostRepository::getLastPosts\(\) should return array<App\\Entity\\Post> but returns mixed.#'