parameters:
    level: 6
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    paths:
        - src