{% extends 'base.html.twig' %}

{% block title %}Create a post{% endblock %}

{% block body %}
        <h1 class="mt-4">Add post</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('app.home') }}">Dashboard</a></li>
            <li class="breadcrumb-item active">Add post</li>
        </ol>
        <hr class="my-4">
        <form class="needs-validation" novalidate>
            <div class="row g-3">
                <div class="col-9">
                    <h4 class="mb-3">Content</h4>
                    <hr class="my-4">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid title is required.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="content" class="form-label">Content</label>
                            <textarea name="content" class="form-control" id="content" rows="3"></textarea>
                        </div>
                        <div class="col-12">
                            <label for="formFile" class="form-label">Featured image</label>
                            <input class="form-control" type="file" id="featuredFile">
                        </div>
                        <div class="col-12">
                            <label for="formFile" class="form-label">Docs</label>
                            <input class="form-control" type="file" id="documents">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h4 class="mb-3">Options</h4>
                    <hr class="my-4">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="category" class="form-label">Category</label>
                            <select class="form-select" id="category" required>
                                <option value="">Choose...</option>
                                <option>California</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="status" class="form-label">Status</label>
                            <select class="form-select" id="status" required>
                                <option>Choose...</option>
                                <option value="publish">Publish</option>
                                <option value="draft">Draft</option>
                                <option value="review">Review</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                    </div>
                    <br />
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
                </div>
            </div>
        </form>
{% endblock %}
